<form method="post" action="{{ path('app_api_podcast_delete', {'id': api_podcast.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir le supprimer ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ api_podcast.id) }}">
	<button class="btn btnDelete">Supprimer</button>
</form>
