{% extends 'base.html.twig' %}

{% block title %}New ApiPodcast
{% endblock %}

{% block body %}
	<main>
		<div id="conteneurLogin">
			<h2>Lien Podcast</h2>
			{{ include('api_podcast/_form.html.twig') }}

			<a href="{{ path('app_api_podcast_index') }}">back to list</a>
		</div>
	</main>
{% endblock %}
