{% extends 'base.html.twig' %}

{% block title %}Modifier Radio
{% endblock %}

{% block body %}
	<main>
		<div id="conteneur">

			<h2>Modifier votre Radio</h2>

			{{ include('api_radio/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			{{ include('api_radio/_delete_form.html.twig') }}

			<a href="{{ path('app_api_radio_index') }}">Retour à la liste</a>
		</div>
	</main>
{% endblock %}
