{% extends 'base.html.twig' %}

{% block title %}Edit ApiRadio
{% endblock %}

{% block body %}
	<main>
		<div id="conteneurEditRadio">

			<h2>Edit Radio</h2>

			{{ include('api_radio/_form.html.twig', {'button_label': 'Update'}) }}

			{{ include('api_radio/_delete_form.html.twig') }}

			<a href="{{ path('app_api_radio_index') }}">back to list</a>
		</div>
	</main>
{% endblock %}
