{% extends 'base.html.twig' %}

{% block title %}Flux événement
{% endblock %}


{% block body %}
	<main>
		<div id="conteneur">
			{{ include('api_event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</main>
{% endblock %}
