{% extends 'base.html.twig' %}

{% block title %}Nouveau Slider
{% endblock %}

{% block body %}
	<main>
		<div id="conteneur">
			<h1>Ajout d'un événement dans le Slider</h1>

			{% if form is defined  %}
				{{ include('slider/_form.html.twig') }}

			{% endif %}

			<a href="{{ path('app_slider_index') }}">Retour à la liste</a>
		</div>
	</main>
{% endblock %}
