{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{path('app_api_podcast_index')}}">podcast</a>           
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('app_api_radio_index')}}">radio</a>
        <a href="{{path('app_user_index')}}">LISTE USER</a>
        <a href="{{path('app_register')}}">Créer user</a>
    {% endif %}

{% endblock %}
